<h1>{{title}}</h1>
<h2><a href="/estatisticas">Estatísticas</a></h2>

<router-outlet>

</router-outlet>

<div id="rodape">
  <h3>Sobre</h3>
  <p>Este site foi construído por <a href="mailto:paulo.ortolan@gmail.com">Paulo Henrique Ortolan</a>.</p>
  <p>Layout por <a href="mailto:mahousenshi@zoho.com">Fabio Luis Ortolan - Contact Him!</a>.</p>

  <p>Outros projetos:</p>
  <p><a href="http://randomweatherforecast.herokuapp.com/">Random Weather Forecast</a></p>
  <p><a href="http://mahousenshi.neocities.org/">Página de Fabio Ortolan - Cool Stuff</a></p>
</div>
