.placa {
	border: 5px solid #fff;
	border-radius: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 400px;
	height: 50px;
	background: #0a0;
	font-size: 18px;
	line-height: 50px;
}

.calendario {
	border: 1px solid #000;
	width: 200px;
	background: #dff;
	margin: auto;
}

.ano {
	font-weight: bold;
	color: #f00;
}

.dia_semana {
	font-weight: bold;
	background: #808080;
	color: #fff;
}

.dia_numero {
	font-size: 90px;
	font-weight: bold;
	color: #000;
}

.mes {
	font-weight: bold;
	color: #000;
}

.faixa_continua {
	border: 5px solid #ff0;
}

.faixa_ultrapassagem {
	border: 5px dashed #ff0;
}

a {
	color: #000;
	text-decoration: none;
}	

body {
	padding-left:200px;
	padding-right:200px;
	background: #282b2a;
	font-family: sans;
	color: #fff;
	text-align:center;
}

h1 {
	font-size: 72px;
}
