@font-face {
	font-family: 'Highway Gothic';
	src: url('assets/HWYGOTH.TTF');
}

body {
	font-family: 'Highway Gothic', 'Sans';
	background-image: url('assets/asphalt.jpg');
	color: #fff;
	font-size: 20pt;
	text-align: center;
}

h1 {
	font-size: 70pt;
	margin: 40px 0;
}

a {
	color: #fff;
}

#corpo {
	border-bottom: 10px solid #faaa00;
}

#calendario {
	font-size: 35pt;
	background-color: #007a53;
	width: 400px;
	margin: 0 auto;
	padding: 5px;
}

#calendario p {
	border-left: 5px solid white;
	border-right: 5px solid white;
	margin: 0;
}

#calendario p:first-child {
	border-top: 5px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#calendario p:last-child {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#rodape {
	border-top: 10px solid #faaa00;
	margin-top: 10px;
}

#rodape h3 {
	margin: 5px 0;
	font-size: 20pt

}

#rodape p {
	margin: 5px 0;
	font-size: 15pt
}
